/* Reset */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* Body */

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#001f3f,#004080);

}

/* Main Box */

.mainbox{

background:rgb(5, 125, 158);
padding:30px;
width:350px;
border-radius:10px;
text-align:center;
box-shadow:0px 5px 20px rgba(1, 255, 242, 0.501);
background: linear-gradient(135deg,rgb(1, 38, 83),rgb(2, 124, 120));

}

/* Heading */

h1{

margin-bottom:20px;
color:#02759c;

}

/* Button Box */

.button-box{

margin-bottom:20px;

}

/* Top Buttons */

.button-box button{

padding:10px 20px;
margin:5px;
border:none;
background:#001f3f;
color:white;
cursor:pointer;
border-radius:5px;
transition:0.3s;

}

/* Hover */

.button-box button:hover{

background:#033a71;

}

/* Input */

input{

width:100%;
padding:12px;
margin:8px 0;
border:1px solid #ccc;
border-radius:5px;
outline:none;

}

/* Input Focus */

input:focus{

border-color:#001f3f;

}

/* Login Signup Buttons */

#login button,
#signup button{

width:100%;
padding:12px;
background:#001f3f;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
transition:0.3s;

}

/* Hover */

#login button:hover,
#signup button:hover{

background:#004080;

}

/* Signup Hide */

#signup{

display:none;

}

/* Responsive */

@media(max-width:400px){

.mainbox{

width:90%;

}

}